name: Publish to NuGet

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    
    steps:
    - name: check out
      uses: actions/checkout@v4

    - name: dotnet install
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.x'

    - name: dotnet restore
      run: dotnet restore src/Hephaestus.Validation.sln

    - name: dotnet build
      run: dotnet build src/Hephaestus.Validation.sln --configuration Release --no-restore

    - name: dotnet pack
      run: dotnet pack src/**/Hephaestus.Validation.csproj --configuration Release --no-build -o ./nupkg /p:Version=${{ github.ref_name }}

    - name: dotnet push 
      run: dotnet nuget push "./nupkg/*.nupkg" --source "https://api.nuget.org/v3/index.json" --api-key ${{ secrets.NUGET_API_KEY }} --skip-duplicate